content
    .line-start
        h2 Present
        .line

     span#2010.box(left)
      .left
        h1 2010s
        h2 THE SEEDS OF ARTIFICAL INTELLIGENCE AND ROBOTIC AUTOMATION ARE PLANTED.
      .right
        p A $4,000 computer will equal roughly the computational capability of the human brain.
        p The summed computational powers of all computers is comparable to the total brainpower of the human race.
        p Human-robot relationships begin as simulated personalities become more convincing.
        p Computers do most of the vehicle driving. As a result, there are very few transportation accidents.
        p Nanotechnology is more capable and is in use for specialized applications, yet it has not yet made it into the mainstream.
        p Worldwide economic growth has continued. There has not been a global economic collapse.
        p The basic needs of the underclass are met.

    span#2020.box(right)
      .right
        h1 2020s
        h2 HUMANS OVERCOME THE LIMITATIONS OF BIOLOGY & ARTIFICAL INTELLIGENCE BECOMES INDIGISTIUABLE

      .left
        p A $1,000 personal computer is now 1,000 times more powerful than the human brain.
        p The vast majority of computation is done by computers and not by human brains.
        p Nanomachine technology becomes available to the populace.
        p Accurate computer simulations of the entire human brain are now possible due to exponential growth of brain-scanning technology and nanomachines.
        p Virtual reality will be so high-quality that it will be indistinguishable from real reality.
        p Nanobots capable of entering the bloodstream to "feed" cells and extract waste will exist. They will make the normal mode of human food consumption obsolete.

    .line-behind(white)

.line-wrapper
    span#2030.box(left)
      .left
        h1 2030 - 2044
        h2 NANOMACHINES BLOSSOM ALLOWING FOR RADICAL BIOLOGICAL CHANGES
      .right
        p Mind uploading becomes successful and perfected by the end of 2040s as humans become software-based.
        p Nanomachine implants capable of augmenting natural senses and of enhancing higher brain functions like memory, learning speed and overall intelligence start to become available.
        p Full-immersion virtual reality can be generated with nanomachines inserted directly in to the brain. Furthmore, the "real" world can be canceled out by blocking nerve pathways.
        p Recorded or real-time brain transmissions of a person's daily life can be experienced remotely.
        p The same nanotechnology should also allow people to alter the neural connections within their brains, changing the underlying basis for the person's intelligence, memories and personality.
        p By the 2040s Nonbiological intelligence will be billions of times more capable than biological intelligence.

    span#singularity.box(center justify)
      .left
        h4 THE SINGULARITY
        h1 2045
        h2 ARTIFICIAL INTELLIGENCES SURPASSES HUMAN BEINGS AS THE SMARTEST AND MOST CAPABLE LIFE FORMS ON THE EARTH.
      .right
        p.
            Technological development is taken over by the machines, who can think, act and communicate so quickly that normal humans cannot even comprehend what is going on. The machines enter into a    "runaway reaction" of self-improvement cycles, with each new generation of A.I.s appearing faster and faster. From this point onwards, technological advancement is explosive, under the control of the machines, and thus cannot be accurately predicted (hence the term "Singularity").<br><br> The Singularity is an extremely disruptive, world-altering event that forever changes the course of human history. The extermination of humanity by violent machines is unlikely (though not impossible) because sharp distinctions between man and machine will no longer exist thanks to the existence of cybernetically enhanced humans and uploaded humans. <br><br> $1000 can now buy a computer a billion times more intelligent than every human combined.

    span#2045.box(center last)
      .left
        h1 2045 - ?
        h2 WAKING THE UNIVERSE
      .right
        p The physical limit of how small computers can be shrunk is reached. From this moment computers must now expand in order to become more powerful.
        p A.I.s radiate outward from Earth, first into the Solar System and then out into interstellar space, then galaxies in all directions converting all of the matter and energy in the universe into massive computers.
        p This, in effect, "wakes up" the universe as all the inanimate "dumb" matter (rocks, dust, gases, etc.) is converted into structured matter capable of supporting life (albeit synthetic life).
        p With the entire universe made into a giant, highly efficient supercomputer, AI and human hybrids would have both supreme intelligence and physical control over the entire universe.

    .line-behind(singularity)


