.side-nav
    ul
      li
        a(data-scroll href="#2010")
          span.nav-title 2010s
      li
        a(data-scroll href="#2020")
          span.nav-title  2020s
      li
        a(data-scroll href="#2030")
          span.nav-title 2030-2044
      li
        a(data-scroll href="#singularity")
          span.nav-title SINGULARITY (2045)
      li
        a(data-scroll href="#2045")
          span.nav-title 2045 - ?